@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap");
* {
  color: hsl(0, 0%, 100%);
  font-family: "Outfit", sans-serif;
}

body {
  height: 100vh;
  background: hsl(217, 54%, 11%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
}
main {
  /* max-width: 290px; */
  width: 220px;
  padding: 20px;
  background: hsl(216, 50%, 16%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 76%; */
}
#card-img {
  border-radius: 15px;
  background-image: url("img/image-equilibrium.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  width: 215px;
  height: 215px;
}
#card-img:hover::before {
  content: url("img/icon-view.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 15px;
  background: rgba(0, 255, 247, 0.3);
  width: 215px;
  height: 215px;
}
h1 {
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
}
h1:hover {
  color: hsl(178, 100%, 50%);
}
p {
  color: #cddaf3;
  font-size: 14px;
}
h1 + p {
  line-height: 30px;
}
.cost,
.remaining {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cost p,
.remaining p {
  font-weight: 400;
  margin-left: 4px;
}
.cost p {
  color: hsl(178, 100%, 50%);
}
.ethereum,
.clock {
  display: block;
}
.timer {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.timer::after {
  content: "";
  background-color: rgba(170, 170, 170, 0.501);
  height: 1px;
  width: 100%;
  position: absolute;
  top: 48px;
}
.card-footer {
  text-align: center;
  position: relative;
  margin-top: 10px;
}
#avatar {
  width: 25px;
  position: absolute;
  top: -2px;
  left: -35px;
  border: 1px solid white;
  border-radius: 50%;
}
.card-footer p {
  display: inline;
}
#jules {
  cursor: pointer;
}
#jules:hover {
  color: hsl(178, 100%, 50%);
  font-weight: 400;
}

/* -------------------- Footer -------------------- */

footer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer span {
  display: block;
}

/* ----------------- Responsive ----------------- */

@media screen and (min-width: 376px) {
  main {
    width: 290px;
  }
  #card-img {
    width: 283px;
    height: 283px;
  }
  #card-img:hover::before {
    width: 283px;
    height: 283px;
  }
  h1 {
    font-size: 1.4em;
  }
  p {
    font-size: 18px;
  }
  .timer::after {
    top: 60px;
  }
  #avatar {
    width: 30px;
    top: -3px;
    left: -43px;
  }
}
